<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coding</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <style> 
    body {
    background: #eee
}

.ratings i {
    color: green
}

.install span {
    font-size: 12px
}

.col-md-4 {
    margin-top: 27px
}
  </style>
</head>
<body>
   <div class="container">
    <h1>Coding Resources</h1></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="hackerearth.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Hackerearth</span><span class="text-black-50">Website</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.hackerearth.com/challenges/">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="codechef.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Codechef</span><span class="text-black-50">Website</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.codechef.com/">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="codeforces.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Codeforces</span><span class="text-black-50">Webiste</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://codeforces.com/">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="leetcode.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Leetcode</span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://leetcode.com/">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="hackerrank.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span></span>Hackerrank<span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.hackerrank.com/">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="topcoder.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>TopCoder</span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.topcoder.com/">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="atcoder.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span></span>Atcoder<span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://atcoder.jp/">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="spoj.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>SPOJ</span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.spoj.com/">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>