<!DOCTYPE html>
<html lang="en">
<head>
  <title>Design and Analysis of Algorithms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <style> 
    body {
    background: #eee
}

.ratings i {
    color: green
}

.install span {
    font-size: 12px
}

.col-md-4 {
    margin-top: 27px
}
  </style>
</head>
<body>
   <div class="container">
    <h1>Design and Analysis of Algorithms</h1></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="geeks.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Geeksforgeeks</span><span class="text-black-50">Website</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.geeksforgeeks.org/fundamentals-of-algorithms/">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="javat.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Javatpoint</span><span class="text-black-50">Website</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.javatpoint.com/daa-tutorial">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="jenny.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Jenny's Lectures</span><span class="text-black-50">Webiste</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.youtube.com/playlist?list=PLdo5W4Nhv31ZTn2P9vF02bkb3SC8uiUUn">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="abdul.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Abdul Bari</span><span class="text-black-50">Youtube Channel</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.youtube.com/watch?v=0IAPZzGSbME">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="gates.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Gate Smashers</span><span class="text-black-50">Youtube Channel</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>Click below to view</h6>
                <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><a href="https://www.youtube.com/playlist?list=PLxCzCOWd7aiHcmS4i14bI0VrMbZTUvlTa">View&nbsp;</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>